.carta{
    background-color: rgb(238, 130, 144);
    width: 2Opx;
    display: inline-block;
}
border-radius: 10px
/* Estilos imagen */
img{ 
    width: 20px;
}

carta button{


    
}